# Data folders
DS-*/

# Output files
scripts/output/*.csv
scripts/output/files/*.pdf
doj_parser/output
context_union/pdfs
context_union/output_report

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Archives
*.zip

.idea